// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
body {
  font-family: 'Cal Sans', sans-serif;
}
.header {
  background-color: white;
  color: black;
}
.close-btn {
  cursor: pointer;
  font-size: 1.5rem;
}
.close-btn:hover {
  background-color: rgba(209, 209, 209, 0.26);
}
.card-subheader {
  margin: 0;
}
.primary-pink-container {
  background-color: #ffe6f4;
  min-height: auto !important;
}
.secondary-gray-container {
  background-color: rgb(243, 243, 243);
  min-height: auto !important;
}
.alert-icon {
  font-size: 2.5rem;
  color: #faad14;
}
.dialog-section {
  h4 {
    margin: 0 0 1rem 0;
  }
}
.secondary-color {
  color: $text-secondary;
}
.create-org-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.error-message {
  color: red;
  font-size: 0.75rem;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.no-margin {
  margin: 0;
}
