// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');
body {
  font-family: 'Cal Sans', sans-serif;
}
.header {
  background-color: white;
  color: black;
}
.close-btn {
  cursor: pointer;
  font-size: 1.5rem;
}
.close-btn:hover {
  background-color: rgba(209, 209, 209, 0.26);
}
.card-subheader {
  margin: 0;
}
.primary-green-container {
  background-color: #6dff91;
}
.alert-icon {
  font-size: 2.5rem;
  color: #faad14;
}
