// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2;
$secondary: #26a69a;
$accent: #ff616baf;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

// Custom variables
$text-primary: #e9636c;
$text-secondary: #4b4b4b;
$btn-primary: #e33642;
$btn-accent: #ff9ea5;
$bg-primary: #ffffff;
$bg-secondary: #f5f5f5;
$border-color: rgba(0, 0, 0, 0.12);

:root {
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --btn-primary: #{$btn-primary};
  --btn-accent: #{$btn-accent};
  --bg-primary: #{$bg-primary};
  --bg-secondary: #{$bg-secondary};
  --border-color: #{$border-color};
}
